 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --black: #000000;
    --light-black: #050505;
    --main-yellow: rgba(209, 170, 88, 1);
    --light-yellow: rgba(229, 25, 94, 0.2);
    --white: #ffffff;
    --light-white: #f8f8f8;
    --white-other: rgba(207, 207, 207, 1);
    --white-mix: #cecece;
    --border: #ff72a285;
}

body {
    font-family: "Poppins", sans-serif;
}

.ptb {
    padding: 40px 0;
}

.pt {
    padding-top: 30px;
}

.sec-heading {
    font-size: 35px;
    font-weight: 600;
}

.para {
    font-size: 18px;
    font-weight: 400;
    color: grey;
}

.flex {
    display: flex;
    align-items: center;
}

/* product-info start */
img.logo {
    width: 35px;
}

.product-info .para span {
    color: black;
    font-weight: 500;
}

/* features start */

.features-content-first {
    gap: 140px;
    margin-bottom: 30px;
    margin-top: -50px;
    text-align: right;
    justify-content: right;
}

.features-content-two {
    gap: 40px;
    justify-content: right;
}

.features-content-inner {
    gap: 20px;
    align-items: center;
}

.features-content-inner .para {
    margin: 0;
}

/* why-proteq */

.why-proteq-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.why-proteq-border {
    width: 400px;
    border-bottom: 1px solid;
}

/* paint */

.paint-content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(184px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 40px;
}

.paint-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.paint-content-inner img {
    width: 80px;
}

.paint-content-inner .para {
    text-align: center;
}

/* specification */

.specs-left p {
    margin: 0;
}

.specs-main {
    display: flex;
}

.specs-left {
    width: 40%;
}

.specs-left-innner-first {
    background: #a8a7a7f0;
    font-weight: 600;
    border-top-left-radius: 6px;
    margin-bottom: 1px;
    padding: 6px 15px;
}

.specs-left-innner-common {
    background: #a8a7a7f0;
    font-weight: 600;
    margin-bottom: 1px;
    padding: 6px 15px;
}

.specs-left-innner-last {
    background: #a8a7a7f0;
    font-weight: 600;
    border-bottom-left-radius: 6px;
    margin-bottom: 1px;
    padding: 6px 15px;
}

.specs-right-innner-first {
    border: 1px solid;
    color: gray;
    font-weight: 400;
    border-top-right-radius: 6px;
    padding: 7px 15px;
    font-size: 14px;
}

.specs-right-innner-common {
    border: 1px solid;
    color: gray;
    font-weight: 400;
    padding: 7px 15px;
    font-size: 14px;
}

.specs-right-innner-last {
    border: 1px solid;
    color: gray;
    font-weight: 400;
    border-bottom-right-radius: 6px;
    padding: 7px 15px;
    font-size: 14px;
}

.specs-right {
    width: 60%;
}

.specs-right-main {
    text-align: right;
    margin-top: 128px;
}

.specs-right-main .para.add {
    padding: 10px 25px;
    background-color: #dfdfdf6b;
    border-top-left-radius: 46px;
}

/* random */


.data-left-top {
    padding: 10px 15px;
    border-top-left-radius: 16px;
    border: 1px solid white;
}

.data-left-bot {
    padding: 10px 15px;
    border-bottom-left-radius: 16px;
    border: 1px solid white
}

.data-right-top {
    border: 1px solid grey;
    padding: 10px 15px;
    border-top-right-radius: 16px;
    background-color: transparent;
}

.data-right-bot {
    border: 1px solid grey;
    border-bottom-right-radius: 16px;
    background-color: transparent;
    padding: 10px 15px;
}

.data-left {
    border: 1px solid white;
    padding: 10px 60px 10px 15px;
}

.data-right {
    border: 1px solid grey;
    background-color: transparent;
    padding: 10px 15px;
}

th {
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: #a8a7a7f0;
}

td {
    color: gray;
    font-size: 14px;
}

.specs-right-main span {
    position: relative;
    padding: 10px 40px 10px 100px;
    color: white;
}

.specs-right-main span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px; /* Adjust this value to control the size of the arrow */
    width: 20px; /* Should match the left value to create a square shape */
    height: 100%;
    background-color: gray;
    z-index: -1;
}

/* Hover effect */
.specs-right-main span:hover::before {
    left: 0;
}
